In [3]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="admin",
  password="admin",
  database="cutepet_sql"
)

mycursor = mydb.cursor()

In [7]:
from faker import Faker

In [75]:
fake =Faker()

In [8]:
# For student id  
from random import randint

In [105]:
sql_stmt = "insert into NguoiDung (ma_nguoi_dung, ten, ngay_sinh, tai_khoan, email, so_dien_thoai,is_admin, gioi_tinh) values (%s, %s, %s, %s, %s, %s,%s, %s)"

for i in range(24,101):
    ma_nguoi_dung = i
    gioi_tinh = randint(0,1)
    ten = fake.name_male() if gioi_tinh == 1 else fake.name_female()
    ngay_sinh = fake.date_of_birth()
    tai_khoan = ten.replace(" ","").lower()
    email = tai_khoan+'@gnet.com'
    so_dien_thoai = '11111'
    is_admin = 0
    data = (ma_nguoi_dung, ten, ngay_sinh,tai_khoan,email, so_dien_thoai, is_admin,gioi_tinh )
    mycursor.execute(sql_stmt, data)
    mydb.commit()

## delete data

In [104]:
sql = 'delete from NguoiDung where ma_nguoi_dung = %s';
for i in range(24,101):
    mycursor.execute(sql, (i,))
    mydb.commit()