In [1]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="admin",
  password="admin",
  database="cutepet_sql"
)

mycursor = mydb.cursor()

In [2]:
from faker import Faker

In [3]:
fake =Faker()

In [4]:
# For student id  
from random import randint

## 1. insert user

#### 1.1. delete old generated user

In [7]:
sql = 'delete from NguoiDung where ma_nguoi_dung = %s';
for i in range(24,501):
    mycursor.execute(sql, (i,))
    mydb.commit()

#### 1.2. insert new generated user

In [125]:
sql_stmt = "insert into NguoiDung (ma_nguoi_dung, ten, ngay_sinh, tai_khoan, email, so_dien_thoai,is_admin, gioi_tinh) values (%s, %s, %s, %s, %s, %s,%s, %s)"

for i in range(24,501):
    ma_nguoi_dung = i
    gioi_tinh = randint(0,1)
    ten = fake.name_male() if gioi_tinh == 1 else fake.name_female()
    ngay_sinh = fake.date_of_birth()
    tai_khoan = ten.replace(" ","").lower()
    email = tai_khoan+'@gnet.com'
    so_dien_thoai = '11111'
    is_admin = 0
    data = (ma_nguoi_dung, ten, ngay_sinh,tai_khoan,email, so_dien_thoai, is_admin,gioi_tinh )
    mycursor.execute(sql_stmt, data)
    mydb.commit()

## 2. insert Friend ship

#### 2.1. delete all friend ship

In [114]:
fake.date_time()

datetime.datetime(1979, 2, 8, 18, 37, 11, 278056)

In [6]:
sql_stmt = 'delete from LaBanBe'
mycursor.execute(sql_stmt)
mydb.commit();

In [130]:
sql_stmt = 'insert into LaBanBe (ma_nguoi_dung_1,ma_nguoi_dung_2,ngay_bat_dau) values(%s,%s,%s)'

for i in range(1,31):
    for j in range(1,31):
        if(i!=j):
            ngay_bat_dau = fake.date_time_this_decade()
            mycursor.execute(sql_stmt,(i,j,ngay_bat_dau))
            # mycursor.execute(sql_stmt,(j,i))
            mydb.commit();

## insert request add friend